<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/* video/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/* video/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:node="merge"
        tools:targetApi="m">
        <activity
            android:name="com.cometchat.chatuikit.users.CometChatUserActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cometchat.chatuikit.groups.CometChatGroupActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cometchat.chatuikit.calls.calldetails.CallDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cometchat.chatuikit.calls.outgoingcall.CometChatCallActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cometchat.chatuikit.messages.MessageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cometchat.chatuikit.threadedmessages.ThreadedMessagesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cometchat.chatuikit.extensions.collaborative.CometChatWebViewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cometchat.chatuikit.extensions.reaction.CometChatReactionInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.cometchat.chatuikit.shared.views.mediaview.CometChatMediaViewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <meta-data
            android:name="com.cometchat.chatuikit"
            android:value="${file_provider}" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${file_provider}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <service
            android:name="com.cometchat.chatuikit.calls.callmanger.MyConnectionService"
            android:exported="true"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

        <receiver android:name="com.cometchat.chatuikit.calls.callmanger.CallNotificationAction" />
    </application>

</manifest>